* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;

}

body {
    font-family: arial, sans-serif;
}
.container {
    
    display: flex;
    flex-wrap: wrap;
}

.header, .content, .footer {
    width: 100%;
    min-width: 320px;
    

}

.header {
    background-color: lightcoral;
    font-size: 1.3rem;
    height: 4.5rem;
    padding-top: .8rem; 
    display:flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}

.gmail {
    order: 4;
}

.gmail a {
    padding-right: 1.5rem;
    text-align: right;
    
}

.gmail a:link {
    text-decoration: none;
  }

.images {
    order: 3;
}



.images a {
    padding-right: 1.5rem;
    text-align: right;
    
}

.images a:link {
    text-decoration: none;
  }



.GoogleAppsIcon {
    order: 2;
    padding-right: 1.5rem;
    text-align: right;

}

.GoogleAppsIcon img {
    width: 3.0rem;
    height: 3.0rem;
   
   
}

.profilePic {
    order: 1;
    padding-right: 1.5rem;
}

.profilePic img {
    width: 3.0rem;
    height: 3.0rem;
    text-align: right;
    border-radius: 50%;

}


.content {
    
    height: 391px;
    display:flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    align-items: center;
    

}
.searchArea{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.space1 .space2 {
    width: 1rem;
}

.searchForm {
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-radius: 2.4rem;
    height: 4.4rem;
    width: 100%;
    box-shadow: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: .5rem;
    
}

.magnifyGlass img {
    width: 4rem;
    padding-left: 1rem;
    
}

.searchForm input {
    min-width: 20.3rem;
    border: none;
    height: 3.4rem;
}

.microphone img {
    width: 2.9rem;
    padding-right: 1rem;
}


.googleImage img {
    padding-top: 109px;
    padding-bottom: 50px;
}






.footer {
    background-color: #0063d2;
    height: 80px;
    position: absolute;
    bottom: 0;
}
